* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  background-color: rgb(202, 180, 180);
  padding: 0.5% 1%;
}
.headLine {
  display: flex;
  gap: 0.5%;
}
.logoCaption {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.gameContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  background-color: bisque;
}
.gameBoard {
  width: 537px;
  height: 537px;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.gridBox {
  background-color: aqua;
}
.ship {
  background-color: rgb(82, 0, 0);
}
